*{
    margin: 0%;
    /* background-color:#3D087B ; */
}
.bigdiv{
 background-color:#3D087B ;
height: 750px;
 padding: 20px 20px 120px 120px ;
}
#clock1{
    display: inline-block;
    position:relative ;
    top: 30px;
    left: 0px;
}
.time-container{
    background-color: white;
    border-radius: 10px;
    width: 536px;  
    height:90px ;
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    right: 60px;
    top: 30px;
    z-index: 2;
    
}
.good1{
    background-color: white;
    width: 516px;
    height:90px ;
    position: absolute;
    right:70px;
    top: 50px;
    z-index: 1;
    opacity: 0.9;
    border-radius: 10px;
}
.good2{
    background-color: white;
    width: 476px;
    height:90px ;
position: absolute;
    right: 95px;
    top: 70px;
    z-index: 1;
    opacity: 0.5;
    border-radius: 10px;
}
.semi{
    background-color: white;
    font-size: 50px;
    color: #9140B5;
}
 #time1{
    background-color: white;
    box-sizing: border-box;
    padding-top: 18px;
   margin-left: 10px;
    font-size: 30px;
    width: 71px;
    height: 70px;
    text-align: center;
    color: #3D087B;

}
 #hour1{
    background-color:#F6E2FF;
    width: 71px;
    font-size: 30px;
    height: 70px;
    text-align: center;
    margin: 0px 10px;
    color: #9140B5;
    margin-left: 35px;
}
#min1{
    background-color:#F6E2FF;
    width: 71px;
    font-size: 30px;
    height: 70px;
    text-align: center;
    margin: 0px 10px;
    color: #9140B5;
}
#sec1{
    background-color:#F6E2FF;
    width: 71px;
    font-size: 30px;
    height: 70px;
    text-align: center;
    margin: 0px 10px;
    color: #9140B5;
}
#am_pm{
    border-radius: 10px;
background-image: linear-gradient(
    #9140B5,#FC5EFF
);
box-sizing: border-box;
padding-top: 18px;
    width: 71px;
    font-size: 30px;
    height: 70px;
    text-align: center;
    color:white;
    margin: 0px 10px;
}
.SETTIME{
    background-color: white;
    height: 320px;
    width: 440px;
    margin-top: 40px;
    padding: 20px 30px;
    border-radius: 10px;
} 
.timee{
    width: 30vh;
    padding: 5px;
}
.wakeup{
    position: relative;
    bottom: 13px;
    left: 54px;
}
.wakeu{
    margin-right: 58px;
}
.luncht{
    position: relative;
    bottom: 13px;
    left: 54px;
}
.lunch{
    margin-right: 75px;
}
.nightt{
    position: relative;
    bottom: 10px;
    left: 63px;
}
.night{
    margin-right: 78px;
}
.napp{
    position: relative;
    bottom: 13px;
    left: 54px;
}
.nap{
    margin-right: 88px;
}
.vr{
    margin-left: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 38px;
    width: 0px;
    
}
.good{
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    font-size: 25px;
    width: 500px;
    background-color: #9140B5;
    color: white;
    font-family: 'Satisfy', cursive;

}

button{
    box-sizing: border-box;
    background-image: linear-gradient(
    to right,#6E54EC,#F1A7C5  
    );
    width: 210px;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 22px;
    border-radius: 10px;
  display: inline-block; 
  border: none;

}
button:hover{
    cursor:pointer
}
button #set1{
    display:none;
    
   
    
}
button:hover #set{
    display:none;
    
}
button:hover #set1{
    display: inline-block;
    
   
}
.detail{
    box-sizing: border-box;
    display: inline-block;
    width: 240px;
height: 117px;
border-radius: 10px;
background-color:#7c5f86;
color: #f82cf8;
padding: 10px;
line-height: 25px;
position: absolute;
left:437px
}
.grab{
    display: flex;
    color: #8E53F0;
    padding: 20px;
    background-color: rgb(235, 229, 229);
    box-sizing: border-box;
box-shadow: -5px 10px 25px grey;
    top: 212px;
    position: absolute;
    font-family: 'Satisfy', cursive;
    font-size: 25px;
    justify-content: center;
    align-items: center;
left: 756px;
width: 536px;
height: 118px;
border-radius: 10px;
}
.picture{
    width: 536px;
    height: 341px;
    position: relative;
    bottom: 288px;
    left: 585px;

}
.pic{
    width: 500px;
    height:400px;
    /* padding: 20px; */
    box-sizing: border-box;
    border-radius: 12px;
    background-color: white;
    /* background-repeat: no-repeat; */
    background-clip: border-box;
    background-repeat: round;
    background-size: contain;
    background-image: url(./images.jpg);  
}
#textimg{
    padding: 40px 0px 40px 0px;
    color: tomato;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    animation: texti 10s linear 0s infinite ;

}
@keyframes texti {
   0%{
        background-color: rgb(227, 231, 238);
    }
    50%{
        background-color: rgb(233, 245, 73);
    }
    75%{
        background-color: rgb(148, 245, 129);
    }
    100%{
        background-color: rgb(227, 231, 238);
    }
}
#imgareahead{
    /* height: 400px; */
    width: 500px;
    
    background-color: white;
    text-align: center;
    position: absolute;
    right: 10%;
    top: 60%; 
    border-radius: 10px;
}

